USE [C114_jeff_moya_hotmail]
GO
/****** Object:  UserDefinedTableType [dbo].[BatchInsertSkills]    Script Date: 5/12/2022 7:12:42 AM ******/
CREATE TYPE [dbo].[BatchInsertSkills] AS TABLE(
	[Name] [nvarchar](50) NOT NULL
)
GO
