USE [C114_jeff_moya_hotmail]
GO
/****** Object:  Table [sab].[InstructorProfiles]    Script Date: 5/12/2022 7:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[InstructorProfiles](
	[InstructorId] [int] NOT NULL,
	[HireDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
