USE [C114_jeff_moya_hotmail]
GO
/****** Object:  Table [sab].[StudentProfiles]    Script Date: 5/12/2022 7:12:42 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [sab].[StudentProfiles](
	[StudentId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL
) ON [PRIMARY]
GO
